parallax images

<style>

</style>

<div class="parallax-outer-wrapper">

  <div class="parallax-images-wrapper">
    <div class="parallax-images-top">
      <img src="http://feetures-online.myshopify.com/cdn/shop/files/Infinity_Featured_Collections_1.jpg?v=1707769205&width=1060">
    </div>
    <div class="parallax-images-bottom">
    </div>
  </div>

  <div class="parallax-images-content-wrapper">
    <h4>Heading</h4>
    <p>Text</p>
  </div>
</div>
