<div class="custom-socks-layout">
  <div class="grid">
    <div class="grid-item"><img src="http://feetures-online.myshopify.com/cdn/shop/files/Infinity_Featured_Collections_1.jpg?v=1707769205&width=1060"></div>
    <div class="grid-item"><img src="http://feetures-online.myshopify.com/cdn/shop/files/Infinity_Featured_Collections_1.jpg?v=1707769205&width=1060"></div>
    <div class="grid-item"><img src="http://feetures-online.myshopify.com/cdn/shop/files/Infinity_Featured_Collections_1.jpg?v=1707769205&width=1060"></div>
    <div class="grid-item"><img src="http://feetures-online.myshopify.com/cdn/shop/files/Infinity_Featured_Collections_1.jpg?v=1707769205&width=1060"></div>
    <div class="grid-item"><img src="http://feetures-online.myshopify.com/cdn/shop/files/Infinity_Featured_Collections_1.jpg?v=1707769205&width=1060"></div>
    <div class="grid-item"><img src="http://feetures-online.myshopify.com/cdn/shop/files/Infinity_Featured_Collections_1.jpg?v=1707769205&width=1060"></div>
    <div class="text-container">
      <h2>Feeture Socks are Designed for Lorem Ipsum Dolor Sit.</h2>
      <p>Lorem ipsum dolor sit amet adipiscing elit nullam est consectetur locales ambulo.</p>
    </div>
  </div>
</div>

<style>
.custom-socks-layout .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  text-align: center;
  padding: 20px;
}

.custom-socks-layout .grid-item {
  position: relative;
}

.custom-socks-layout img {
  width: 100%;
  height: auto;
}

.custom-socks-layout .text-container {
  grid-column: span 4;
  padding: 20px;
}
</style>