{% layout none %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta property="fb:app_id" content="424426844274364">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Wild Side Giveaway: Win $5,000 toward the National Park trip of your dreams!">
    <meta
      name="twitter:description"
      content="From podium to peak, America’s top running sock is getting in touch with its wild side and wants to bring you and a friend along for the adventure. Enter for a chance to embark on the journey of a lifetime! The prize includes:- Two (2) $1,000 airfare gift cards- One (1) $3,000 gift card- Year's supply (12 pairs) of Feetures for each guest, including our new Trail sock"
    >
    <meta
      name="twitter:image"
      content="https://res.cloudinary.com/viralsweep/image/upload/v1691675548/cyvybocvp3zpb1w3jwfd.jpg"
    >

    <meta property="og:url" content="https://feetures.com/pages/sweepstakes">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Wild Side Giveaway: Win $5,000 toward the National Park trip of your dreams!">
    <meta
      property="og:image"
      content="https://res.cloudinary.com/viralsweep/image/upload/v1691675548/cyvybocvp3zpb1w3jwfd.jpg"
    >
    <meta
      property="og:site_name"
      content="Wild Side Giveaway: Win $5,000 toward the National Park trip of your dreams!"
    >
    <meta property="fb:admins" content="1088490351">
    <meta property="fb:admins" content="11512735">
    <meta property="fb:admins" content="1088490312">
    <meta
      property="og:description"
      content="From podium to peak, America’s top running sock is getting in touch with its wild side and wants to bring you and a friend along for the adventure. Enter for a chance to embark on the journey of a lifetime! The prize includes:- Two (2) $1,000 airfare gift cards- One (1) $3,000 gift card- Year's supply (12 pairs) of Feetures for each guest, including our new Trail sock"
    >
    <title>Wild Side Giveaway: Win $5,000 toward the National Park trip of your dreams!</title>
    <style type="text/css">
      body {
        border: 0;
        margin: 0;
        padding: 0;
      }
    </style>

    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body style="margin:0px;padding:0px;">
    <div id="vsscript_141133_985572"></div>
    <script
      async
      type="text/javascript"
      src="https://app.viralsweep.com/vsa-full-55e246-141133.js?sid=141133_985572"
    ></script>
  </body>
</html>
